.charity-service-area {
    background: rgba(255, 255, 255, 0.4) url("../assets/gray-bg1-3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: lighten;
    position: relative;
    z-index: -10;
}

.charity-card img {
    transition: transform 0.3s ease;
   
}